---
const {class:className, cardId, cardDescription, cardHeader, ...rest} = Astro.props
---
<div class={className}{...rest} id={cardId} class:list={['card']}>
  <slot name="card-background-image" />
  <slot name="card-icon"></slot>
  <slot name="card-number"></slot>
    
  <div class="card-content">
    <div class:list={['card-header']}>
      {cardHeader}
    </div>
    <div class="card-description">
      <p>{cardDescription}</p>
    </div>
  </div>
</div>

<style>
  .card {
    width: 100%;
    background: rgba(27, 48, 61, 0.8);
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    gap:40px;
    position: relative;
    overflow: hidden;
  }
  .card-content{
    display: flex;
    flex-flow: column;
    gap: 14px;
  }
  .card-header{
    font-size: 18px;
    line-height: 20.25px;
    font-weight: 600
  }
  .card-header{
    white-space: initial;
  } 
  .card-description{
    color: #EBEBEB;
  }
  @media screen and (min-width:768px) {
    .card-header{
    white-space: pre-line;
  } 
  }
  
</style>