---
import Logo from '../assets/logo_salazar.svg';
---

<header class="header">
  <div class="wrapper">
    <div class="header-top">
      <div class="logo">
        <a href="https://www.getsalazar.io">
          <Logo height={32} width={130}/>
        </a>
      </div>
      <slot name="button"/>
    </div>
  </div>
</header>

<style>
  header {
    width:100%;
    padding-block:16px;
    margin-bottom: 40px;
  }
  .header-top{
    display: flex;
    justify-content: space-between;
  }


</style>