---
import Button from './Button.astro'
import Card from './Card.astro'
import { t } from 'i18next'


const cardChallenge =  [
  {
    cardId:'card-challenge-1',
    cardIconAsNumber:'section.challenge.card.card-1.subheader',
    cardHeader:'section.challenge.card.card-1.header',
    cardDescription:'section.challenge.card.card-1.paragraph',
  },
  {
    cardId:'card-challenge-2',
    cardIconAsNumber:'section.challenge.card.card-2.subheader',
    cardHeader:'section.challenge.card.card-2.header',
    cardDescription:'section.challenge.card.card-2.paragraph'
  },
  {
    cardId:'card-challenge-3',
    cardIconAsNumber:'section.challenge.card.card-3.subheader',
    cardHeader:'section.challenge.card.card-3.header',
    cardDescription:'section.challenge.card.card-3.paragraph'
  },
]
---
<div class="wrapper-section-challenge">
  <div class="wrapper">
    <div class="section-challenge-content">
      <h4>{t('section.challenge.subheader')}</h4>
      <h2>{t('section.challenge.header')}</h2>
      <p>{t('section.challenge.paragraph')}</p>
    </div>
    <div class="card-wrapper">
        {cardChallenge.map((cardItem)=>(
          <Card 
          isBorder
          isNumbered 
          iconAsNumber={t(cardItem.cardIconAsNumber)}
          cardId={cardItem.cardId}
          cardHeader={t(cardItem.cardHeader)}
          cardDescription={t(cardItem.cardDescription)}
          />
        ))}
  
    </div>
    <div class="section-challenge-footer">
      <p>{t('section.challenge.paragraph-2')}</p>
      <div>
        <Button title={t('button.more')} nameIcon="pi-arrow-down" id="button-learn-more"/>
      </div>
    </div>
  </div>
</div>

<style>
  .wrapper-section-challenge{
    padding-block: 40px;
  }
  .section-challenge-content{
    display: flex;
    flex-flow: column;
    gap:12px;
    margin-bottom: 24px;
  }
  h4{
    color: rgb(var(--highlight));
    text-transform: uppercase;
  }
  .wrapper-section-challenge .card-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap:24px;
    margin-bottom: 40px;
  }
  @media screen and (min-width:768px){
    .wrapper-section-challenge .card-wrapper{
      flex-wrap: nowrap;
    }
  }

  .section-challenge-footer{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
  }
</style>