---
import Button from './Button.astro'
import { t } from 'i18next'

---
<div class="section-hero">
  <div class="wrapper">
    <div class="hero-content">
      <h1>{t('section.hero.header')}</h1>
      <h2>{t('section.hero.subheader')}</h2>
      <p>{t('section.hero.paragraph')}</p>
    </div>
    <div class="hero-image-wrapper">
      <div class="hero-image">
        <img src="/images/img_Hero_MockScreens2x.png" alt={t('section.hero.alt-text')}/>  
      </div> 
      <div class="hero-scroll">
        <Button id="hero-scroll-btn" nameIcon="pi-arrow-down" ariaLabel={t('button.next')}/>
      </div>
    </div>
  </div>
</div>

<style>
  .section-hero{
    margin: auto;
    display: flex;
    flex-flow: column;
    gap:40px;
    padding-top: 40px;
    text-align: center;
  }
  .hero-content{
    display: flex;
    flex-flow: column;
    gap: 16px;
  }
  
  h2{
    font-size: 28px;
    line-height: 30.8px;
  }
  
  .hero-content, .hero-image-wrapper{
    margin: auto;
    margin-top: 40px;
    text-align: center;
  }
  .hero-image-wrapper{
    width:100%;
    height: auto;
    margin-top: 80px;
  }
  .hero-image{
    padding-inline:12px;
  }
  .hero-scroll{
    display: none;    
  }

  @media screen and (min-width:768px){
    .hero-scroll{
      display: block;
      margin-block: 80px;
    }
  }
  p{
    white-space: break-spaces;
  }
</style>