---
import Card from "./Card.astro"
import { t } from 'i18next'

const cardFeatures =  [
  {
    cardId:'card-feautures-1',
    cardIcon:'pi-chart-line',
    cardHeader:'section.features.card.card-1.header',
    cardDescription:'section.features.card.card-1.paragraph',
  },
  {
    cardId:'card-feautures-2',
    cardIcon:'pi-history',
    cardHeader:'section.features.card.card-2.header',
    cardDescription:'section.features.card.card-2.paragraph',
  },
  {
    cardId:'card-feautures-3',
    cardIcon:'pi-check-circle',
    cardHeader:'section.features.card.card-3.header',
    cardDescription:'section.features.card.card-3.paragraph',
  },
  {
    cardId:'card-feautures-3',
    cardIcon:'pi-wrench',
    cardHeader:'section.features.card.card-4.header',
    cardDescription:'section.features.card.card-4.paragraph',
  },
  {
    cardId:'card-feautures-3',
    cardIcon:'pi-sitemap',
    cardHeader:'section.features.card.card-5.header',
    cardDescription:'section.features.card.card-5.paragraph',
  },
  {
    cardId:'card-feautures-3',
    cardIcon:'pi-users',
    cardHeader:'section.features.card.card-6.header',
    cardDescription:'section.features.card.card-6.paragraph',
  },
]
---
<div class="wrapper-section-features">
  <div class="wrapper">
    <div class="section-features-content">
      <h4>{t('section.features.header')}</h4>
      <h2>{t('section.features.subheader')}</h2>
    </div>
    <div class="card-wrapper">
      {cardFeatures.map((cardItem)=>(
        <Card
        isMulticolor
        isIconed
        nameIcon={cardItem.cardIcon}
        cardId={cardItem.cardId}
        cardHeader={t(cardItem.cardHeader)}
        cardDescription={t(cardItem.cardDescription)}
        />
      ))}
    </div>
  </div>
</div>

<style>
  .wrapper-section-features{
    padding-block: 40px;
  }
  .section-features-content{
    display: flex;
    flex-flow: column;
    gap: 8px;
    padding-bottom:40px;
  }
  h4{
    color: rgb(var(--highlight));
    text-transform: uppercase;
  }
  .wrapper-section-features .card-wrapper{
    display: flex;    
    gap:40px 24px;
    flex-wrap: wrap;
  }

  .card{
    min-height:200px;
    min-width: 213px;
    max-width: 410px;
    width: 100%;
    gap: 16px;
  }
</style>
<style is:global>
  @media screen and (min-width:768px){ 
    .wrapper-section-features .card-wrapper .card{
       flex-basis: calc(50% - 12px);
     }
  }
  @media screen and (min-width:1440px){ 
    .wrapper-section-features .card-wrapper .card{
       flex-basis: calc(33% - 12px);
     }
  }
 </style>
